// styles.scss

// Variables
$primary-color: #141414;
$secondary-color: white;
$background-color: #f4f4f4;
$text-color: #333;
$button-bg: #005bb5;
$button-hover: #004494;
$border-radius: 8px;
$border_Table_Colors: #ddd;

// Styles généraux
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
}

header {
  $header-size: 5;
  background-color: $primary-color;
  color: $secondary-color;
  text-align: center;
  padding: 20px;
  height: $header-size + rem;
  display: flex;
  justify-content: space-between;

  h1 {
    margin: 0;
    font-size: 2em;
  }

  h2 {
    margin: 10px 0 0;
    font-size: 1.5em;
  }

  img:nth-of-type(2) {
    height: 150%;
    transform: translateY(-15%);
  }
}

main {
  display: flex;
  flex-flow: column;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: $secondary-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: $border-radius;
}
#main_test {
  position: relative;
  &:after, &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3px;
    z-index: -1;
    background-image: conic-gradient(from var(--turn),transparent 90%, $button-bg);
    animation: 3s spin linear infinite alternate;
  } 
  
  &:before {
    filter: blur(1.5rem);
    opacity: .5;
  }
}

// Styles du formulaire
form {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  gap: 15px;

  fieldset {
    border: 2px solid $primary-color;
    border-radius: $border-radius;
    padding: 15px;
    background: $secondary-color;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    legend {
      font-size: 1.2em;
      font-weight: bold;
      color: $primary-color;
      padding: 5px 10px;
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      padding: 10px;
      border-bottom: 1px solid $border_Table_Colors;

      span {
        font-weight: bold;
      }
    }
  }
}

// Boutons d'exécution
.exec-btn, .btn-stop {
  background-color: $button-bg;
  color: $secondary-color;
  border: none;
  padding: 8px 12px;
  border-radius: $border-radius;
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
    background-color: $button-hover;
    transform: scale(1.1);
  }
}

.btn-stop {
  width: fit-content;
  margin-left: auto; 
}

.stop-animation {
  &:before, &:after {
    animation: none !important;
  }
}

@property --turn {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  
  thead {
    background-color: $background-color;
    font-weight: bold;
    
    th {
      padding: 12px 15px;
      text-align: left;
      border-bottom: 2px solid $border_Table_Colors;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      td {
        padding: 10px 15px;
        border-bottom: 1px solid $border-Table_Colors;

        img {
          width: 8em;  // Ajuste la taille de l'image du drapeau
          height: auto;
        }
      }
    }
  }

  th, td {
    text-align: center;
  }
  
  // Style du tableau pour la réactivité
  @media (max-width: 768px) {
    table {
      width: 100%;
    }
    th, td {
      padding: 8px;
      font-size: 14px;
    }
  }
}
// Pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .spanPage {
    font-size: 16px;
    font-weight: bold;
  }
}

#img_countries {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;

  img:not(#img_country) {
    position: absolute;
    top: 5vh;
    right: 5vw;
    width: 3rem;
    height: 3rem;
    padding: 5px;
    border-radius: 10%;

    &:hover {

      background-color: rgba(226, 152, 152, 1);
    }
  }

  #img_country {
    width: 20%;
    height: fit-content;
    transform: translateY(-50%);
  }
}

.imgDetailsOpen {
  display: flex !important;
}

#table_v3 tr:nth-child(even) {
  display: none;
  td ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    list-style: none;
  }

  img {
    width: 8em;
    height: auto;
  }
}

tr:has(+ .detailsOpen) {
  background-color: rgba(139, 139, 139, 0.2);
}

.detailsOpen {
  display: table-row !important;
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-3-17 21:58:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}


@keyframes spin {
  from {
    --turn : 0deg;
  }
  to {
    --turn : 360deg;
  }
}

@media (max-width: 768px) {
  main {
    padding: 10px;
  }

  form fieldset div {
    flex-direction: column;
    align-items: flex-start;

    .exec-btn {
      margin-top: 5px;
      width: 100%;
    }
  }

  header {
    justify-content: center;
    img {
      display: none;
    }
  }
}
