// styles.scss

// Variables
$primary-color: #141414;
$secondary-color: white;
$background-color: #f4f4f4;
$text-color: #333;
$button-bg: #005bb5;
$button-hover: #004494;
$border-radius: 8px;

// Styles généraux
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
}

header {
  $header-size: 5;
  background-color: $primary-color;
  color: $secondary-color;
  text-align: center;
  padding: 20px;
  height: $header-size + rem;
  display: flex;
  justify-content: space-between;

  h1 {
    margin: 0;
    font-size: 2em;
  }

  h2 {
    margin: 10px 0 0;
    font-size: 1.5em;
  }

  img:nth-of-type(2) {
    height: 150%;
    transform: translateY(-15%);
  }
}

main {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: $secondary-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: $border-radius;
}
#main_test {
  &:after, &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3px;
    z-index: -1;
    background-image: conic-gradient(from var(--turn),transparent 90%, $button-bg);
    animation: 3s spin linear infinite alternate;
  } 
  
  &:before {
    filter: blur(1.5rem);
    opacity: .5;
  }
}

// Styles du formulaire
form {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;

  fieldset {
    border: 2px solid $primary-color;
    border-radius: $border-radius;
    padding: 15px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    legend {
      font-size: 1.2em;
      font-weight: bold;
      color: $primary-color;
      padding: 5px 10px;
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      padding: 10px;
      border-bottom: 1px solid #ddd;

      span {
        font-weight: bold;
      }
    }
  }
}

// Boutons d'exécution
.exec-btn, .btn-stop {
  background-color: $button-bg;
  color: $secondary-color;
  border: none;
  padding: 8px 12px;
  border-radius: $border-radius;
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
    background-color: $button-hover;
    transform: scale(1.1);
  }
}

.btn-stop {
  width: fit-content;
  margin-left: auto; 
}

.stop-animation {
  &:before, &:after {
    animation: none !important;
  }
}

@property --turn {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --turn : 0deg;
  }
  to {
    --turn : 360deg;
  }
}

@media (max-width: 768px) {
  main {
    padding: 10px;
  }

  form fieldset div {
    flex-direction: column;
    align-items: flex-start;

    .exec-btn {
      margin-top: 5px;
      width: 100%;
    }
  }

  header {
    justify-content: center;
    img {
      display: none;
    }
  }
}
