// styles.scss

// Variables
$primary-color: #141414;
$secondary-color: white;
$background-color: #f4f4f4;
$text-color: #333;
$button-bg: #005bb5;
$button-hover: #004494;
$border-radius: 8px;

// Styles généraux
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
}

header {
  background-color: $primary-color;
  color: $secondary-color;
  text-align: center;
  padding: 20px;
  position: relative;

  h1 {
    margin: 0;
    font-size: 2em;
  }

  h2 {
    margin: 10px 0 0;
    font-size: 1.5em;
  }

  img {
    width: 10rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &:nth-of-type(1) {
      left: 0;
    }
    &:nth-of-type(2) {
      right: 0;
    }
  }
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: $secondary-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: $border-radius;
}

// Styles du formulaire
form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  fieldset {
    border: 2px solid $primary-color;
    border-radius: $border-radius;
    padding: 15px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    legend {
      font-size: 1.2em;
      font-weight: bold;
      color: $primary-color;
      padding: 5px 10px;
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      padding: 10px;
      border-bottom: 1px solid #ddd;

      span {
        font-weight: bold;
      }
    }
  }
}

// Boutons d'exécution
.exec-btn {
  background-color: $button-bg;
  color: $secondary-color;
  border: none;
  padding: 8px 12px;
  border-radius: $border-radius;
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
    background-color: $button-hover;
    transform: scale(1.1);
  }
}

// Responsive
@media (max-width: 768px) {
  main {
    padding: 10px;
  }

  form fieldset div {
    flex-direction: column;
    align-items: flex-start;

    .exec-btn {
      margin-top: 5px;
      width: 100%;
    }
  }
}
